footer {
    background-color: rgba(31, 31, 39, 0.86);
    padding: 100px 0;
    overflow: hidden;
}

.copy-right {
    padding-top: 10px;
    font-size: 14px;
}

footer .container {
    height: fit-content;
    width: 100%;
}

footer .container .logo {
    margin-bottom: 25px;
}

footer .container .content {
    margin-bottom: 25px;
}

footer .container .content p {
    font-size: 16px;
    line-height: 20px;
}

footer .container .social-icons ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

footer .container .social-icons ul li {
    padding: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 16px;
    background: #28303F;
    color: #fff;
    transition: 0.2s;
}

footer .container .social-icons ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

footer .container .row-flex {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

footer .container .row-flex .col-flex{
    flex: calc(100% / 4);
}
footer h6{
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}
footer .container .row-flex .col-flex ul{
    list-style: none;
    padding-left: 0;
}
footer .container .row-flex .col-flex ul li{
    padding-bottom: 11px;
}
footer .container .row-flex .col-flex ul li a{
    text-decoration: none;
    color: #b9b8bb;
}
footer .subscribe{
    margin-top: 60px;

}
    footer .subscribe p{
    font-size: 14px;
}
footer .subscribe .email{
    display: flex;
}
footer .subscribe .email input{
    padding: 12px 46px 12px 20px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 100%;
}
footer button{
    margin-top: 1.5px;
    height: 50px;
    padding: 10px 10px 12px 10px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 0;
    outline: none;
    justify-content: end;
    align-items: flex-end;
    margin-right: 0;
    margin-left: auto;

}
footer .subscribe .email input:focus{
    outline: none;
}
@media screen and (max-width:920px) {
    footer .container .row-flex .col-flex{
        flex: calc(100% / 2);
    }
}